<div class="row">
        <div class="mt-5">
              <form action="/comparateur/send" method="GET">
                <h1>Comparateur de prix</h1>
                  <div class="form-group">
                      <select class="form-control" name="siteName">
                          <option value="toutdeco">Tabouret de bar</option>
                          <!-- <option value="destockage">Destockage-Discount</option> -->
                        </select>
                  </div>
                  
                  <button type="submit" onclick="loadingScreen()" target="_blank" class="btn btn-primary">Soumettre</button>
                </form>
            
          </div>
        
    </div>