
<div class="row">
        <div class="col-lg-12 text-center">
          <div class="mt-5">
            

            <table id="table_id" class="table row-border mx-auto">
                <thead>
                        <tr>
                                <th>Produit</th>
                                <th>Prix</th>
                                <th>Vente unique</th>
                                <th>Miliboo</th>
                                <th>Conformium</th>
                                <th>Alterego</th>
                                <th>Eminza</th>
                                <th>Decoandgo</th>
                                <th>Hjh office</th>
                                <th>Comptoir</th>
                                <th>privatefloor</th>
                                <th>laredoute</th>
                                <th>manomano</th>
                              </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>HC104</td>
                                <td>99.99</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                              </tr>
                              <tr>
                                <td>HC148</td>
                                <td>70.99</td>
                                <td>56</td>
                                <td>56</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                              </tr>
                              <tr>
                                <td>T1107</td>
                                <td>45.99</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td>56</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>56</td>
                              </tr>
                </tbody>
                
              </table>
        </div>
        </div>
      </div>

  
      <script>
        $(document).ready( function () {
            $('#table_id').DataTable({
              "info": false,
              "paging": false,
              "searching": false,
              "ordering": false
            });
        } );
            </script>