
<div class="row">
        <div class="col-lg-12 text-center">
          <div class="mt-5">
            

            <table id="table_id" class="table table-striped table-bordered" style="width:100%"  align="center">
              <thead>
                  <tr>
                    <th>ID</th>
                      <th>Reference</th>
                      <th>Libellé</th>
                      <th>Catégorie</th>
                      <th>Prix d'achat</th>
                      <th>Prix de Vente toutdeco</th>
                      <th>Stock</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>52</td>
                      <td>HC104ORANGE</td>
                      <td>Tabouret de bar Blanc, Lot de 2</td>
                      <td>Tabouret de bar</td>
                      <td>52.36 €</td>
                      <td>82.01 €</td>
                      <td>52</td>
                      <td><a href="">test</a></td>
                  </tr>
                  <tr>
                    <td>53</td>
                      <td>HC104BLANC</td>
                      <td>Tabouret de bar Blanc, Lot de 2</td>
                      <td>Tabouret de bar</td>
                      <td>52.36 €</td>
                      <td>82.01 €</td>
                      <td>52</td>
                      <td><a href="">test</a></td>
                  </tr>
                  <tr>
                    <td>52</td>
                      <td>HC104NOIR</td>
                      <td>Tabouret de bar Blanc, Lot de 2</td>
                      <td>Tabouret de bar</td>
                      <td>52.36 €</td>
                      <td>82.01 €</td>
                      <td>58</td>
                      <td><a href="">test</a></td>
                  </tr>
                  <tr>
                    <td>52</td>
                      <td>HC104ORANGE</td>
                      <td>Tabouret de bar Blanc, Lot de 2</td>
                      <td>Tabouret de bar</td>
                      <td>52.36 €</td>
                      <td>82.01 €</td>
                      <td>52</td>
                      <td><a href="">test</a></td>
                  </tr>
                  <tr>
                    <td>52</td>
                      <td>HC104ORANGE</td>
                      <td>Tabouret de bar Blanc, Lot de 2</td>
                      <td>Tabouret de bar</td>
                      <td>52.36 €</td>
                      <td>82.01 €</td>
                      <td>52</td>
                      <td><a href="">test</a></td>
                  </tr>
                  <tr>
                    <td>52</td>
                      <td>HC104ORANGE</td>
                      <td>Tabouret de bar Blanc, Lot de 2</td>
                      <td>Tabouret de bar</td>
                      <td>52.36 €</td>
                      <td>82.01 €</td>
                      <td>52</td>
                      <td><a href="">test</a></td>
                  </tr>

              </tbody>
          </table>
        </div>
        </div>
      </div>

  
      <script>
        $(document).ready( function () {
            $('#table_id').DataTable({
              "info": false,
              "paging": false
            });
        } );
            </script>